section.main-container {
  background: $gray;
  padding: 50px 0;
  @media screen and (max-width: $break-extralarge) {
    height: initial;
  }
  @media screen and (max-width: $break-large) {
    padding: 100px 0;
  }
  .container {
    @include flex(row, nowrap, center, center);
    @media screen and (max-width: $break-extralarge) {
      flex-direction: column;
    }
    @media screen and (max-width: $break-small) {
      @include flex(column, nowrap, center, center);
      width: 85%;
    }
  }
  .left-side {
    width: 70%;
    @media screen and (max-width: $break-medium) {
      width: 85%;
    }
    &__text {
      h1 {
        color: $lightest-slate;
        font-size: 70px;
        font-weight: 700;
        @media screen and (max-width: $break-large) {
          font-size: $fz-heading-t;
        }
        @media screen and (max-width: $break-medium) {
          font-size: $fz-heading-t;
        }
      }
      h2 {
        color: $lightest-slate;
        font-size: 50px;
        font-weight: 700;
        @media screen and (max-width: $break-medium) {
          font-size: $fz-heading-t;
        }
        span {
          letter-spacing: 2px;
          font-size: 70px;
          font-weight: 700;
          color: transparent;
          -webkit-text-stroke: 1.5px $slate;
          background: url(../img/back.png);
          -webkit-background-clip: text;
          background-position: 0 0;
          animation: back 20s linear infinite;
          @media screen and (max-width: $break-large) {
            font-size: $fz-heading-t;
          }
          @media screen and (max-width: $break-medium) {
            font-size: $fz-heading-t;
          }
          @keyframes back {
            100% {
              background-position: 2000px 0;
            }
          }
        }
      }
    }

    &__job {
      p {
        color: $slate;
        font-size: 30px;
        font-weight: 700;
        padding: 30px 0 0 0px;
        @media screen and (max-width: $break-large) {
          font-size: $fz-heading;
        }
        @media screen and (max-width: $break-medium) {
          font-size: $fz-xxl;
        }
      }
    }
    &__button {
      @media screen and (max-width: $break-small) {
        @include flex(row, nowrap, center, center);
      }
      margin: 50px 0 0 0;

      a {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        padding: 15px 50px;
        color: $lightest-slate;
        overflow: hidden;
        transition: 0.2s;
        @media screen and (max-width: $break-large) {
          font-size: $fz-heading;
        }
        @media screen and (max-width: $break-medium) {
          font-size: $fz-xxl;
        }
        @media screen and (max-width: $break-small) {
          font-size: $fz-xl;
        }
        &:hover {
          color: $gray;
          background: $lightest-slate;
          box-shadow: 0 0 10px $lightest-slate, 0 0 40px $lightest-slate;
        }
      }
    }
  }

  .right-side {
    background-color: #15181b;
    padding: 40px;
    width: 30%;
    min-height: 570px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    transition: $transition;
    border-radius: 10px;
    text-align: center;
    line-height: 28px;
    @media screen and (max-width: $break-extralarge) {
      margin-top: 50px;
      min-height: initial;
      width: 60%;
    }
    @media screen and (max-width: $break-large) {
      margin-top: 50px;
      min-height: initial;
      width: 80%;
    }
    @media screen and (max-width: $break-small) {
      width: 90%;
      padding: 30px;
    }
    &:hover {
      transform: scale(1.04);
      filter: drop-shadow(0 0 20px $lightest-slate)
        drop-shadow(0 0 40px $lightest-slate);
    }
    &__photo {
      @include flex(row, nowrap, center, center);
      img {
        border-radius: 100px;
        border: 3px #fff solid;
        width: 150px;
        filter: grayscale(100%);
        transition: $transition;
        @media screen and (max-width: $break-medium) {
          width: 120px;
        }
        @media screen and (max-width: $break-small) {
          width: 100px;
        }
        &:hover {
          filter: grayscale(0%);
          transform: scale(1.2);
        }
      }
    }
    &__text {
      margin-top: 30px;
      @media screen and (max-width: $break-medium) {
        line-height: 15px;
      }
      h2 {
        position: relative;
        color: $lightest-slate;
        font-size: $fz-heading;
        text-decoration: underline;
        text-decoration-color: $lightest-slate;
        text-decoration-thickness: 3px;
        text-underline-offset: 8px;
        @media screen and (max-width: $break-medium) {
          font-size: $fz-heading;
        }
      }
      p {
        color: $slate;
        margin: 40px 0;
        font-size: $fz-lg;
        font-weight: 400;
        line-height: 150%;
        @media screen and (max-width: $break-large) {
          font-size: $fz-md;
        }
        @media screen and (max-width: $break-medium) {
          font-size: $fz-xs;
          margin: 30px 0;
        }
      }
      a {
        color: #000;
        background-color: $lightest-slate;
        border: 1px solid $slate;
        transition: $transition;
        font-size: $fz-lg;
        padding: 0.5em 3em;
        border-radius: 10px;

        &:hover {
          color: #fff;
          background-color: $slate;
        }
      }
    }
  }
}
// TODO: Extra-large design
section.projects {
  padding-top: 700px;
  @media screen and (max-width: $break-extralarge) {
    padding-top: 100px;
  }
  .content-title{
    padding: 50px 0;
    background-color: #15181b;
  }
  h2 {
    text-transform: uppercase;
    font-size: $fz-heading-l;
    font-weight: 500;
    color: $slate;
    @media screen and (max-width: $break-large) {
      text-align: center;
    }
    @media screen and (max-width: $break-medium) {
      font-size: $fz-heading-t;
    }
    @media screen and (max-width: $break-small) {
      font-size: $fz-heading;
    }
  }
  .project {
    @include flex(row, nowrap, space-between, center);
    @media screen and (max-width: $break-large) {
      flex-direction: column;
    }
    padding: 0 50px;
    background-color: #292c35;
    border-radius: 35px;
    overflow: hidden;
    margin-top: 200px;
    width: 100%;
    color: $lightest-slate;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      @media screen and (max-width: $break-large) {
        flex-direction: column;
      }
    }
    .content-text {
      width: 50%;
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: $break-large  ) {
        width: 100%;
      }
    }
    .content-img {
      @include flex(row, nowrap, center, center);
      width: 50%;
      min-height: 500px;
      img{
        border-radius: 10px;
        border: 2px $light-gray solid;
      }
      @media screen and (max-width: $break-large) {
        min-height: 100px;
        margin-top: 50px;
        width: 80%;
      }
      @media screen and (max-width: $break-small) {
        width: 90%;
      }

    }
    h3 {
      color: $lightest-slate;
      font-size: $fz-heading;
      letter-spacing: 4px;
      @media screen and (max-width: $break-small) {
        font-size: $fz-xxl;
      }
    }
    p {
      margin-top: 10px;
      color: $yellow;
      font-size: $fz-xs;
      font-weight: 500;
      letter-spacing: 4px;
    }
  }
}
